@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $color-fondo;
  font-family: $fuente-texto;
  color: $color-texto-claro;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
  @include tablet {
    padding: 32px 24px;
  }
  @include desktop {
    padding: 40px 32px;
  }
}
section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
}