// Colores de la pagina 
$color-fondo: #16191c;
$color-fondo-secundario: #1e232a;   
$color-texto: #94a3b8;
$color-text-claro: #cbd5e1;
$color-primario: #00b4d8;
// fuentes
$fuente-titulos: "Montserrat", sans-serif;
$fuente-texto: "Roboto", sans-serif;
$radio-bordes: 5px;
