@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.btn-primary {
    background-color: $primary-color;
    color: white;
    border-radius: $radio-bordes;
    @include transition(opacity, 0.3s);
    &:hover {
        opacity: 0.8;
    }
}

