@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.btn-primary {
  background: $color-primario;
  color: $color-blanco;
  border-radius: $radio-borde;
  @include transicion(background-color);
  &:hover {
    opacity: 0.9;
  }
}