@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
%efecto-hover {
  @include transicion(transform, 0.3s);
  &:hover {
    transform: translateY(-4px);
  }
}
article {
  @extend %efecto-hover;
  background: $color-fondo-secundario;
  border-radius: $radio-borde;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.card {
  @extend %efecto-hover;
}
figure {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 0;
  img {
    width: 100%;
    max-width: 420px;
    height: auto;
    align-self: flex-start;
    border-radius: $radio-borde;
  }
}